<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<html>
<head>
	<meta charset="utf-8">
	<title>Portfolio</title>
	<link rel="stylesheet" type="" href="app.component.css">
</head>
<body>

	<div class="bg-gradient">
		<div class="rcorners1">

			<img src="profpic.png" alt="profpic">

			<h1 class="h1-1">Hi! Im Christian Kent</h1>
			<h1 class="h1-2"> student / amateur photographer & videographer </h1>

			<pre class="pre-1">
				Im 22 years old from Tacloban City, Philippines
				Im currently in my third year of studies towards
				a bachelors' in Information Technology
				Im studying in Eastern Visayas State University.
			</pre>

			<h1 class="h1-3">More About Me</h1>
			<pre class="pre-2">
				I like doing photography and videography, it helps me to
				be more creative. I enjoy going and hanging out with my
				friends. I sometimes do play sports and team games with
				friends. I casually play online and computer games. I’m
				a future mechanical keyboard and sneaker enthusiast. I
				also have this huge obsession about graphic designing.	
			</pre>
			
			<h1 class="h1-4"> Lets Talk</h1>
			<pre class="pre-3">
				<a href="mailto:christian.agner@evsu.edu.ph">Send Email</a>
				Phone: +63 956 0927 080
				Facebook: <a style="text-decoration: none;" href="https://facebook.com/christianagnerzxc/" target="_blank">Christian Agner</a>
				Instagram: <a style="text-decoration: none;" href="https://www.instagram.com/christianagnerr/" target="_blank">@christianagnerr</a>
			</pre>

		<div class="rcorners2">	
		</div>
		</div>
	</div>

</body>
</html>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

